<!--
	功能描述： 底部、公司信息 
-->
<div  class="dsc-copyright">	
	<p> 
		<a href="http://127.0.0.1/fangkun/LLF_CaiHong/index.php?s=/helpcenter/index" target="_blank">
			关于LLF-彩虹网
		</a> 
		<a href="http://127.0.0.1/fangkun/LLF_CaiHong/index.php?s=/helpcenter/index" target="_blank">
			帮助中心
		</a> 
		<a href="http://lol.qq.com/" target="_blank">
			开放平台
		</a> 
		<a href="http://ganjiwang.com" target="_blank">
			诚聘英才
		</a> 
		<a href="http://127.0.0.1/fangkun/LLF_CaiHong/index.php?s=/helpcenter/index&id=16&class_id=5"	target="_blank">
		联系我们
		</a> 
		<a href="http://www.qq.com" target="_blank">网站合作</a> 
		<a href="http://127.0.0.1/fangkun/LLF_CaiHong/template/shop/blue/falv.html" target="_blank">法律声明</a>
		<a href="http://127.0.0.1/fangkun/LLF_CaiHong/template/shop/blue/yinsiquan.html" target="_blank">隐私权政策</a>
		<a href="http://www.gdipo.gov.cn/" target="_blank">知识产权</a>
		<a href="//jubao.alibaba.com/index.html?site=TMALL" target="_blank">廉正举报</a> 
	</p>
	<p>增值电信业务经营许可证：
		<a href="http://www.miibeian.gov.cn/" target="_blank">广东-XXXXX</a>
		网络文化经营许可证：
		<a href="http://sq.ccm.gov.cn" target="_blank">广东网文[2018]XXXX号</a>
		<a href="http://jb.ccm.gov.cn/" target="_blank">12318举报</a>
		互联网违法和不良信息举报电话:XXX
	</p>
	<p>
		<a href="http://www.beian.gov.cn" target="_blank">
			<img src="__STATIC__/images/gov_record.png" style="position:relative;top:5px;vertical-align:baseline;">
			广东公网安备 XXXXXXXXXXX号
		</a>
		<b>© 20018-2028 www.caihongwang.com 版权所有</b>	
	</p>
	<p>
		这只是一个毕业项目只适合演示由(<a href="__TEMP__/{$style}/../shop/blue/biaobai.html" target="_blank">LLF</a>-FK| 提供)
	</p>
	
</div>